@tailwind base;
@tailwind components;
@tailwind utilities;

/* Variables para el modo claro */
:root {
  --background: #f8fafc; /* Fondo muy claro (equivalente a slate-50) */
  --foreground: #1f2937; /* Texto oscuro (equivalente a gray-800) */
  --heading-font: "Poppins", sans-serif;
  --body-font: "Inter", sans-serif;
}

/* Variables para el modo oscuro */
.dark {
  --background: #121212; /* Fondo muy oscuro */
  --foreground: #e0e0e0; /* Texto claro */
}

/* Scroll suave */
html {
  scroll-behavior: smooth;
}

/* Fuente global para el cuerpo y los encabezados */
body {
  font-family: var(--body-font);
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font);
}
